//引入公共颜色样式
@import '../../style/less/color.less';
// 颜色
//导航栏颜色
@discover-bar-color: #c20c0c;
//导航栏选中颜色
@discover-bar-check-color: #9b0909;
//导航栏文字颜色
@discover-bar-font-color: white;
//导航栏选中文字颜色
@discover-bar-check-font-color: white;

// 长度
// 导航栏高度
@discover-bar-height: 35px;
//导航栏选项尺寸
@discover-bar-span-height: 25px;
//导航栏内边距
@discover-bar-span-padding: 0 10px;

//发现音乐-导航栏
.discover {
    background-color: @discover-bar-color;

    .nvbar {
        width: 800px;
        margin: 0 auto;
        background-color: @discover-bar-color;
        height: @discover-bar-height;
        line-height: @discover-bar-height;
        text-align: center;

        //导航栏块
        .ant-menu-item-only-child {
            padding: 0;
            width: 98px;
            span {
                height: @discover-bar-span-height;
                line-height: @discover-bar-span-height;
                padding: @discover-bar-span-padding;
                border-radius: 50px;
                display: inline-block;
                color: @discover-bar-font-color;
                font-size: 12px;
            }
        }

        //导航栏块——鼠标放上
        .ant-menu-item-active {
            span {
                color: @discover-bar-check-font-color;
                background-color: @discover-bar-check-color;
            }
        }

        //导航栏块——选中
        .ant-menu-item-selected {
            span {
                color: @discover-bar-check-font-color;
                background-color: @discover-bar-check-color;
            }
        }

    }
    :where(.css-dev-only-do-not-override-acm2ia).ant-menu-light.ant-menu-horizontal>.ant-menu-item::after,
    :where(.css-dev-only-do-not-override-acm2ia).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu::after {
        display: none;
    }
}