.discover {
  background-color: #c20c0c;
}
.discover .nvbar {
  width: 800px;
  margin: 0 auto;
  background-color: #c20c0c;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.discover .nvbar .ant-menu-item-only-child {
  padding: 0;
  width: 98px;
}
.discover .nvbar .ant-menu-item-only-child span {
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  border-radius: 50px;
  display: inline-block;
  color: white;
  font-size: 12px;
}
.discover .nvbar .ant-menu-item-active span {
  color: white;
  background-color: #9b0909;
}
.discover .nvbar .ant-menu-item-selected span {
  color: white;
  background-color: #9b0909;
}
.discover :where(.css-dev-only-do-not-override-acm2ia).ant-menu-light.ant-menu-horizontal > .ant-menu-item::after,
.discover :where(.css-dev-only-do-not-override-acm2ia).ant-menu-light.ant-menu-horizontal > .ant-menu-submenu::after {
  display: none;
}
