.yBody {
  background-color: #f5f5f5;
}
.yBody .download {
  width: 253px;
  height: 285px;
  margin: 0 auto -285px;
  right: -365px;
  background-image: url('../../../style/img/download.png');
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.yBody .download p {
  font-size: 12px;
  margin: 255px auto 0;
  text-align: center;
  color: #8d8d8d;
}
.yBody .Banner .ban-btn {
  width: 1100px;
  height: 64px;
  position: relative;
  z-index: 10;
  margin: -64px auto;
  top: 110px;
  overflow: hidden;
}
.yBody .Banner .ban-btn button.left,
.yBody .Banner .ban-btn button.right {
  color: #fff;
  background-color: initial;
  opacity: 1;
  width: 37px;
  height: 64px;
  border: none;
}
.yBody .Banner .ban-btn button.left .iconfont,
.yBody .Banner .ban-btn button.right .iconfont {
  font-size: 35px;
}
.yBody .Banner .ban-btn button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.yBody .Banner .ban-btn button.left {
  float: left;
}
.yBody .Banner .ban-btn button.right {
  float: right;
}
.yBody .Banner .slick-dots-bottom {
  width: 730px;
  margin: 0 auto;
  padding-right: 253px;
}
.yBody .Banner .slick-dots-bottom li {
  width: 7px;
  height: 7px;
  background-color: #c8bac7;
  border-radius: 100%;
  margin: 8px;
}
.yBody .Banner .slick-dots-bottom li button {
  width: 7px;
  height: 7px;
  border-radius: 100%;
}
.yBody .Banner .slick-dots-bottom li.slick-active {
  width: 7px;
  height: 7px;
  margin-left: 8px;
}
.yBody .Banner .slick-dots-bottom li.slick-active button {
  background-color: #c20c0c;
}
.yBody .Banner .ban-img {
  width: 983px;
  height: 285px;
  margin: 0 auto;
}
.yBody .Banner .ban-img img {
  width: 730px;
  height: 285px;
  vertical-align: top;
  display: inline-block;
}
.yBody .yContent {
  width: 983px;
  height: 1730px;
  background-color: black;
  margin: 0 auto;
  border-left: 1px #d3d3d3 solid;
  border-right: 1px #d3d3d3 solid;
}
.yBody .yList {
  display: inline-block;
  width: 692px;
  height: 1690px;
  background-color: #ffffff;
  overflow: hidden;
  padding: 20px;
}
.yBody .yList .list-title {
  height: 35px;
  margin: 0px 0px 20px 42px;
  line-height: 35px;
  font-size: 20px;
  border-bottom: 3px #c20c0c solid;
}
.yBody .yList .list-title .icon-rementuijian {
  display: inline-block;
  font-size: 20px;
  color: #c20c0c;
  margin-right: 5px;
}
.yBody .yList .list-title .discover-tab {
  display: inline-block;
  margin: 0 10px;
}
.yBody .yList .list-title .discover-tab a {
  border-right: 1px #666 solid;
  height: 12px;
  line-height: 12px;
  color: #666;
  font-size: 12px;
  display: inline-block;
  padding: 0 10px;
}
.yBody .yList .list-title .discover-tab a:last-child {
  border: none;
}
.yBody .yList .discover-list {
  width: 731px;
  margin-left: -42px;
}
.yBody .yList .discover-list li {
  width: 140px;
  height: 180px;
  padding-left: 42px;
  padding-bottom: 30px;
  display: inline-block;
  vertical-align: top;
}
.yBody .yList .discover-list li .list-cover {
  width: 140px;
  height: 140px;
}
.yBody .yList .discover-list li a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
  margin: 8px 0;
}
.yBody .yList .discover-list li a:hover {
  text-decoration: underline;
  color: #333;
}
.yBody .userList {
  display: inline-block;
  width: 250px;
  height: 1730px;
  border-left: 1px #d3d3d3 solid;
  background-color: #f5f5f5;
}
@media screen and (max-width: 1000px) {
  .yBody .download {
    right: 0;
    margin: 0 730px -285px;
  }
}
@media screen and (max-width: 1100px) {
  .yBody .Banner {
    margin: 0 -37px;
  }
}
