.yBody {
  background-color: #f5f5f5;
}
.yBody .yContent {
  width: 992px;
  height: 1380px;
  padding-left: 7px;
  margin: 0 auto;
}
.yBody .yList {
  display: inline-block;
  width: 692px;
  height: 1340px;
  background-color: #ffffff;
  overflow: hidden;
  padding: 20px;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}
.yBody .yList .list-title {
  height: 35px;
  margin: 0px 0px 20px 42px;
  line-height: 35px;
  font-size: 20px;
  border-bottom: 3px #c20c0c solid;
}
.yBody .yList .list-title a.more {
  font-size: 12px;
  float: right;
  color: #666;
}
.yBody .yList .list-title a.more .icon-youjiantou {
  margin-left: 5px;
  display: inline-block;
  font-size: 12px;
  color: #c20c0c;
}
.yBody .yList .list-title .icon-double-circle-full {
  display: inline-block;
  font-size: 15px;
  color: #c20c0c;
  margin-right: 10px;
  height: 35px;
}
.yBody .yList .list-title .discover-tab {
  display: inline-block;
  margin: 0 10px;
}
.yBody .yList .list-title .discover-tab a {
  border-right: 1px #d3d3d3 solid;
  height: 12px;
  line-height: 12px;
  color: #666;
  font-size: 12px;
  display: inline-block;
  padding: 0 10px;
}
.yBody .yList .list-title .discover-tab a:last-child {
  border: none;
}
.yBody .yList .list-title .discover-tab a:hover {
  text-decoration: underline;
  color: #333;
}
.yBody .yList .discover-list {
  width: 731px;
  margin-left: -42px;
}
.userList {
  display: inline-block;
  width: 250px;
  height: 1380px;
  border-right: 1px #d3d3d3 solid;
  background-color: #fff;
  overflow: hidden;
}
