@font-face {
  font-family: "iconfont"; /* Project id 3853465 */
  src: url('iconfont.woff2?t=1673328659162') format('woff2'),
       url('iconfont.woff?t=1673328659162') format('woff'),
       url('iconfont.ttf?t=1673328659162') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia:before {
  content: "\e64f";
}

.icon-bofang1:before {
  content: "\e624";
}

.icon-shoucang:before {
  content: "\e60c";
}

.icon-double-circle-full:before {
  content: "\ea6c";
}

.icon-youjiantou:before {
  content: "\ee39";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

