@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1673006107782') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

.icon-rementuijian:before {
  content: "\e73d";
}

