Header {
  background-color: #242424;
}
Header .nvbar {
  width: 800px;
  margin: 0 auto;
  background-color: #242424;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
Header .nvbar .ant-menu-item-only-child {
  padding: 0;
}
Header .nvbar .ant-menu-item-only-child span {
  padding: 0 20px;
  display: inline-block;
  color: #cccccc;
}
Header .nvbar .ant-menu-item-active span {
  color: white;
  background-color: black;
}
Header .nvbar .ant-menu-item-selected span {
  color: white;
  background-color: black;
}
Header .nvbar .ant-menu-item-selected::after,
Header .nvbar .ant-menu-submenu-selected::after {
  display: none;
}
